<div class="card" style="width: 99%; margin-right: 30px">
    <div class="card-body">
      <h5 class="card-title">{{data['name']}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{data['full_name']}}</h6>
      <a class="card-link">{{data['url']}}</a><br>
      <div class="row">
        <div class="col-4"><fa-icon [icon]="fork"></fa-icon><span style="margin-left: 5px;">{{data["forks_count"]}}</span></div>
        <div class="col-4"><fa-icon [icon]="star"></fa-icon><span style="margin-left: 5px;">{{data["stargazers_count"]}}</span></div>
        <div class="col-4"><fa-icon [icon]="issues"></fa-icon><span style="margin-left: 5px;">{{data["open_issues_count"]}}</span></div>
      </div>
      
      <p class="card-text">{{data['description']}}</p>
      <a href="#" class="card-link">Show avaiable issues</a>
    </div>
</div>
