<div class="modal-view">
    <div class="card detailedview-modal">
        <div class="card-header">
            <div class="ct row">
                <div class="title-text col-11">Open Issues</div>
                <div class="close-text col-1"><a class="btn btn-danger close-btn" [routerLink]="['']">Close</a></div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">No Issues To Show Yet</h5>
            <p class="card-text">This part of the application will be wired soon</p>
            <app-issue></app-issue>
        </div>
    </div>
</div>