<nav class="navbar navbar-dark bg-dark search-nav">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><img src="../../assets/gitlogo.png" class="smicon" alt=""></span>
        </div>
        <form (keydown.enter)="queryGit()">
          <input type="text" class="form-control repo-search" placeholder="find repository" aria-label="repository" aria-describedby="github-repo" [(ngModel)]="query" [ngModelOptions]="{standalone:true}">
        </form>
        <span class="font-weight-light text-light result-screen">{{nOfResult}} results found</span>
      </div>
    </form>
  </nav>