.repo-search{
    width: 50vw !important;
}

.search-nav{
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0px;
}
.result-screen{
    margin: 4px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.438);
}