<nav class="navbar navbar-dark bg-dark search-nav">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><img src="../../assets/gitlogo.png" class="smicon" alt=""></span>
        </div>
          <input type="text" (keydown.enter)="queryGit($event)" class="form-control repo-search" placeholder="find repository" aria-label="repository" aria-describedby="github-repo">
        <span class="font-weight-light text-light result-screen">{{amountOfResults || 'no'}} results found</span>
      </div>
    </form>
  </nav>